[submodule "vendor/inno"]
	path = vendor/inno
	url = https://github.com/devicie/inno
[submodule "vendor/winget-types"]
	path = vendor/winget-types
	url = https://github.com/devicie/winget-types
[submodule "vendor/msi"]
	path = vendor/msi
	url = https://github.com/mdsteele/rust-msi
